span.dice-roll-result + span.dice-roll-result {
  margin-left: 0.1em;
}

@media (max-width: 1199px) {
  .show-in-lg {
    display: none;
  }
}

@media (min-width: 764px) {
  .dice_pool_entry_label {
    max-width: 100%;
  }
}

@media (min-width: 575px) {
  .nav-item {
    width: 10rem;
  }

  .dice_pool_entry {
    max-width: 15rem;
  }

  #dicePool .input-group {
    margin-right: 1rem!important;
  }
}

@media (max-width: 576px) {
  .collapse {
    display: none!important;

  }

  .collapse.show.d-flex {
    display:flex!important;
  }
}

.fa-eye-slash {
  color: firebrick;
}

.fa-eye {
  color: slateblue;
}

.dice_pool_entry {
  min-height: 3.5rem;
}

.-minh35 {
  min-height: 3.5rem;
}

@media (max-width: 765px) {

}



.scroll-y {
  overflow-y: auto;
}

.nav {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-right: 0;
}

.-flexd-rr {
  flex-direction: row-reverse;
}

.-mh-mc {
  max-height: min-content;
}

.-lr-marg-auto {
  margin-left:auto;
  margin-right:auto;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  background-color: #555555;
}

#statTable {
  color: white;
}

.nav-link {
  background-color: white;
}

.footer {
  margin-top:15px;
  margin-bottom:5px;
}

.-flex0 {
  flex: 0 0 auto;
}

.-flex1 {
  flex: 1 1 auto;
}

.-flex-wrap {
  flex-flow: wrap;
}

.-edit-dice-val {
  width:3rem;
}

.h100 {
  height: 100%;
}

.container-fluid {

}

.-tbl-lbl {
  width: 12rem;
}

.dice_count_label {
  max-width: 10rem;
  flex: 1;
}

.dice_pool_edit_btn_grp {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dice_pool_edit_btn_grp + .dropdown-menu {
    min-width: 4rem;
}
