@media (max-width: 1199px) {
  .show-in-lg {
    display: none;
  }
}

@media (min-width: 764px) {
  .dice_pool_entry_label {
    max-width: 100%;
  }
}

@media (min-width: 575px) {
  .nav-item {
    width: 10rem;
  }

  .dice_pool_entry {
    max-width: 15rem;
  }

  #dicePool .input-group {
    margin-right: 1rem!important;
  }
}

@media (max-width: 576px) {
  .collapse {
    display: none!important;

  }

  .collapse.show.d-flex {
    display:flex!important;
  }
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  background-color: #555555;
}

html {
  position: relative;
  min-height: 100%;
}

span.dice-roll-result + span.dice-roll-result {
  margin-left: 0.1em;
}

div.dice_pool_entry + div.dice_pool_entry {
  margin-top: 1rem;
}

.badge.dice-roll-result {
  min-width: 3rem;
}

.btn-group + .btn-group {
  margin-left: 1rem;
}

.card {
  background-color: inherit;
}

.card-body {
  max-height: min-content;
}

.card-fa-eyes {
  padding: 0.25rem;
}

.card-header {
  padding: 0.5rem 1rem;
}

.-card-title {
  margin-bottom: 0px;
  padding: 0.25rem;
}

.dice_count_label {
  max-width: 10rem;
  flex: 1;
}

.dice_count_label + .form-control {
  border-width: 0 0 0 1px;
}

.dice_pool_edit_btn_grp {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dice_pool_edit_btn_grp + .dropdown-menu {
    min-width: 4rem;
}

.dice_pool_entry {
  height: 3.5rem;
}

.dice_pool_entry-card-body {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.dice_pool_use:hover {
  background-color: lightgray;
}

.-edit-dice-val {
  width:3rem;
}

.fa-eye {
  color: dodgerblue;
}

.fa-eye-slash {
  color: firebrick;
}

.-fa-faded {
  color: lightslategray!important;
}

.-flex0 {
  flex: 0 0 auto;
}

.-flex1 {
  flex: 1 1 auto;
}

.-flex-column {
  flex-direction: column;
}

.-flex-wrap {
  flex-flow: wrap;
}

.-flexd-rr {
  flex-direction: row-reverse;
}

.footer {
  margin-top:15px;
  margin-bottom:5px;
}

.ghost-dice {
  opacity: 0.5;
}

.greyout {
  opacity: 0.3;
}

.h100 {
  height: 100%;
}

.input-group-addon:not(:last-child) {
  background-clip: padding-box;
  border-width: 0px;
}

.-lr-marg-auto {
  margin-left:auto;
  margin-right:auto;
}

.-l-marg-auto {
  margin-left: auto;
}

.-mh-mc {
  max-height: min-content;
}

.-minh35 {
  min-height: 3.5rem;
}

.nav {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-right: 0;
}

.nav-link {
  background-color: white;
}

.scroll-y {
  overflow-y: auto;
}

.-stat-warn-alert {
  width: fit-content;
  margin: auto;
}

.-tbl-lbl {
  width: 12rem;
}

#statTable {
  color: white;
}
