span.dice-roll-result + span.dice-roll-result {
  margin-left: 0.1em;
}

@media (max-width: 1199px) {
  .show-in-lg {
    display: none;
  }
}

.scroll-y {
  overflow-y: scroll;
}

.nav {
  margin-bottom: 15px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  margin-top:15px;
}

.-flex0 {
  flex: 0 0 auto;
}

.-flex1 {
  flex: 1 1 auto;
}

.container-fluid {
  height: 100%;
}
